<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="TIM-HPZ640SQLEXPRESSxafCRU" connectionString="XpoProvider=MSSqlServer;data source=10.1.4.23;integrated security=SSPI;initial catalog=xafCRU"/>
        <add name="ConnectionString" connectionString="XpoProvider=MSSqlServer;Data Source=10.1.4.23;Initial Catalog=xafCRU;Persist Security Info=True;User ID=sa;Password=system99"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
